{% extends 'base.html' %}

{% block content %}
    {% for hdm in hodim %}
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <img height="220px" title="{{hdm.name}}"  src="{{ hdm.photo.url }}">
              <h5 class="card-title">{{ hdm.name }}</h5>
              <p class="card-text">"{{hdm.drift.title}}" kerak</p>
              <p class="card-text">Murojat vaqti: {{ hdm.application_time }}</p>
              <a href="{% url 'post_detail' hdm.slug %}" class="btn btn-primary">Batafsil bilish</a>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
    {% include "paginator.html" with page=hodim %}
{% endblock content%}