{% extends 'base.html' %}
<!-- {% load crispy_forms_tags %} -->
{% block title %} Change edit {% endblock title %}

{% block content %}

    <h2>Kalit So'zni o'agartirish</h2>
    <p>Avval eski kalit so'zni keyin yangi kalit so'zni kiriting</p>
    
    <form method="POST"> {% csrf_token %}
        {{ form.as_p}}
        <input class="btn btn-success" type="submit" value="O'zgartirish">
        <a class="btn btn-outline-danger" href="{% url 'password_reset' %}" role="button">Parolni esdan chiqdimi ?</a>    </form>

{% endblock content %}